atomicwrites==1.4.1
attrs==20.1.0
boto3==1.20.44
botocore==1.23.44
certifi==2024.07.04
chardet==3.0.4
charset-normalizer==2.0.10
colorama==0.4.3
docutils==0.15.2
easyprocess==0.2.8
exceptiongroup==1.0.4
gitdb==4.0.10
smmap==5.0.0
gitpython==3.1.30
idna==2.9
imageio==2.8.0
importlib-metadata==1.6.1
Jinja2==3.1.6
jmespath==0.9.5
MarkupSafe==3.0.2
more-itertools==8.4.0
numpy==1.23.0
packaging==20.4
pillow==10.3.0
pluggy==0.13.1
progressbar2==3.53.1
psutil==5.9.8
pyparsing==2.4.7
pyscreenshot==0.6
pytest-mock==3.8.2
pytest-timeout==2.1.0
pytest==7.2.0
python-dateutil==2.8.1
python-utils==2.5.6
requests==2.31.0
s3transfer==0.5.0
scipy==1.8.1
six==1.13.0
urllib3==1.26.9
wcwidth==0.2.5
zipp==3.8.0
tomli==2.0.1
iniconfig==1.1.1
toml==0.10.2
resolvelib==0.9.0
puremagic==1.28
